<%= form_for Girl.new, url: event_girls_path(params[:event_id]) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.submit %>
<% end %>

<table>
  <thead>
  <tr>
    <th>昵称</th>
    <th>E-mail</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @girls.each do |t| %>
    <tr>
      <td><%= t.name %></td>
      <td><%= t.email %></td>
      <td><%= link_to '签到', attend_event_girl_path(event_id: params[:event_id], id: t.id) unless t.attended? %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= form_tag import_csv_event_path(params[:event_id]), :multipart => true do %>
  <%= file_field_tag :csv %>
  <%= submit_tag %>
<% end %>
